*{
    margin: 0;
    padding: 0;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-repeat: repeat;
    background-image: url("background.jpg");
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: fit-content;
    margin: auto;
    margin-top: 1%;
}

section{
    width: 19%;
    height: max-content;
}

#image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-bottom: 5%;
    background-color: blanchedalmond;
}

label{
    font-size: 0.75em;
}

img{
    width: 100%;
}

#number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 15%;
}

input{
    text-align: center;
}

#error{
    font-size: 2em;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

